body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.correct {
  background-color: green;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  border-radius: 3px;
  border-color: transparent;
}

.show_correct_answer {
  background-color: orange;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  border-radius: 3px;
  border-color: transparent;
}
.incorrect {
  background-color: red;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  border-radius: 3px;
  border-color: transparent;
}

.remove {
  display: none;
}

.answer_div {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-left: 0px;
  gap: 5px;
}

.button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.answer_list {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  list-style: none;
  border-radius: 3px;
}

.answer_button_no_background {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  width: 100%;
  height: 100%;
  text-align: left;
  cursor: pointer;
  transition-duration: 0.4s;
}

.answer_button_no_background:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.time_score_div {
  display: flex;
  justify-content: space-between;
}

.question_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.next_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.next_btn {
  padding: 0.3rem;
  width: 4rem;
  color: black;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

.show_score {
  padding: 0.3rem;
  width: 4rem;
  text-align: center;
  color: white;
  background-color: grey;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

.session_timer {
  padding: 0.3rem;
  width: 4rem;
  text-align: center;
  color: white;
  background-color: grey;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}
.session_timer_gold {
  padding: 0.3rem;
  width: 4rem;
  text-align: center;
  color: white;
  background-color: gold;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

.session_timer_green {
  padding: 0.3rem;
  width: 4rem;
  text-align: center;
  color: white;
  background-color: green;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

.session_timer_yellow {
  padding: 0.3rem;
  width: 4rem;
  text-align: center;
  color: grey;
  background-color: yellow;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

.session_timer_red {
  padding: 0.3rem;
  width: 4rem;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

.start_restart_btn {
  padding: 0.3rem;
  width: 4rem;
  height: 2rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.start_restart_btn_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quiz_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  padding: 20px;
  max-width: 700px;
  width: 90vw;
  height: 80vh;
}

.rounds_completed_div {
  display: flex;
  color: black;
  padding: 0.2rem;
  width: 100%;
  justify-content: space-between;
}

.rounds {
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin: 0.2rem;
}

.streak {
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin: 0.2rem;
}
