#root {
  max-width: 1000px;
  margin: 0px;
  padding: 0px;
}

.correct {
  background-color: green;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  border-radius: 3px;
  border-color: transparent;
}

.show_correct_answer {
  background-color: orange;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  border-radius: 3px;
  border-color: transparent;
}
.incorrect {
  background-color: red;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  border-radius: 3px;
}

.remove {
  display: none;
}

.answer_div {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  padding-left: 0px;
  gap: 5px;
}

.answer_list {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  list-style: none;
  background-color: grey;
  border-radius: 3px;
}

.answer_button_no_background {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  width: 100%;
  height: 100%;
  text-align: left;
  cursor: pointer;
  transition-duration: 0.4s;
}

.answer_button_no_background:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.time_score_div {
  display: flex;
  justify-content: space-between;
}

.question_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next_btn_div {
  display: flex;
  justify-content: end;
}

.next_btn {
  padding: 0.3rem;
  width: 4rem;
  color: white;
  background-color: grey;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

.next_btn:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.start_restart_btn {
  padding: 0.3rem;
  width: 4rem;
  height: 2rem;
  color: white;
  background-color: grey;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

.start_restart_btn:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.start_restart_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
